page-lend-cd {
  .is-on {
    ion-card-content, ion-card-header, ion-grid {
      background-color: color($colors, danger-light);
    }
  }
  .is-off {
    ion-card-content, ion-card-header, ion-grid {
      background-color: color($colors, secondary-light);
    }
  }
}
