<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()"><ion-icon name="close" style="font-size:50px !important;"></ion-icon></button>
    </ion-buttons>
    <ion-title>Titre : {{ cd.titre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-on': cd.isLend, 'is-off': !cd.isLend}">
    <ion-card-header>Auteur : {{ cd.auteur }}</ion-card-header>
    <ion-card-content>
      <p>Prix : {{cd.prix}}</p>
      <p *ngIf="cd?.userName">Emprunteur : {{cd?.userName}}</p>
      <p *ngFor="let line of cd.description">{{ line }}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            full
            color="danger"
            [disabled]="!cd.isLend"
            (click)="onToggleCd()">Prêter
          </button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            full
            color="secondary"
            [disabled]="cd.isLend"
            (click)="onToggleCd()">Rendre
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <form [formGroup]="empruntCdForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Emprunteur</ion-label>
        <ion-input name="userName" [(ngModel)]="userName" type="text"
                   formControlName="userName"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button [disabled]="!cd.isLend || empruntCdForm.invalid"
                  ion-button
                  full (click)="onSubmitFormCd()"
                  color="secondary">
            Enregistrer
          </button>
        </ion-col>
        <ion-col>
          <button type="button" [disabled]="cd.isLend"
                  ion-button
                  full
                  color="danger"
                  (click)="onDeleteCdEmprunt()">
            Supprimer
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
