<ion-header>
  <ion-navbar>
    <ion-title>Gestion des Emprunts</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="bookListPage" tabTitle="Livres" tabIcon="book"></ion-tab>
    <ion-tab [root]="cdListPage" tabTitle="Cd" tabIcon="disc"></ion-tab>
  </ion-tabs>
</ion-content>
