<ion-header>
  <ion-navbar>
    <ion-title>Reglages</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header style="background-color: #007069;color: white">Livres</ion-card-header>
    <ion-card-content>
      <p>Sauvegarde et Récupération des Livres</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            full
            color="secondary" (click)="saveBookOnBackend()">Sauvegarde
          </button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            full
            color="secondary" (click)="retrieveBookFromBackend()">Récupération
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header style="background-color: #007069;color: white">Cd</ion-card-header>
    <ion-card-content>
      <p>Sauvegarde et Récupération des Cd</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            full
            color="primary" (click)="saveCdOnBackend()">Sauvegarde
          </button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            full
            color="primary" (click)="retrieveCdFromBackend()">Récupération
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
