<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item icon-start (click)="onNavigates(tabsPage)" *ngIf="isAuth">
        <ion-icon name="home"></ion-icon>
        Gestion des Emprunts
      </button>
      <button ion-item icon-start (click)="onNavigates(settingsPage)" *ngIf="isAuth">
        <ion-icon name="settings" style="margin-top: 3px"></ion-icon>
        Reglages
      </button>
      <button ion-item icon-start (click)="onNavigates(authPage, {mode: 'new'})" *ngIf="!isAuth">
        <ion-icon name="person-add"></ion-icon>
        Nouvel utilisateur
      </button>
      <button ion-item icon-start (click)="onNavigates(authPage, {mode: 'connect'})" *ngIf="!isAuth">
        <ion-icon name="person"></ion-icon>
        Connexion
      </button>
      <button ion-item icon-start (click)="onDisconnects()" *ngIf="isAuth">
        <ion-icon name="exit"></ion-icon>
        Déconnexion
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="tabsPage" #content></ion-nav>
