<ion-header>
  <ion-navbar>
    <ion-title>LIVRES</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let book of booksList; let i = index"
            (click)="onLoadBook(i)">
      <h3 [ngStyle]="{'color':book.isLend ? '#f53d3d' : '#32db64'}">
        <ion-icon style="margin-top:6px" name="book" [color]="book.isLend ? 'danger' : 'secondary'"></ion-icon>
        {{ book.titre }}
      </h3>
      <ion-note item-right *ngIf="book?.isLend">prêter</ion-note>
      <p *ngIf="book?.userName">Emprunteur : {{book?.userName}}</p>
    </button>

  </ion-list>
</ion-content>
