<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()"><ion-icon name="close" style="font-size:50px !important;"></ion-icon></button>
    </ion-buttons>
    <ion-title>Titre : {{ book.titre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-on': book.isLend, 'is-off': !book.isLend}">
    <ion-card-header>Auteur : {{ book.auteur }}</ion-card-header>
    <ion-card-content>
      <p>Genre : {{book.genre}}</p>
      <p>Prix : {{book.prix}}</p>
      <p *ngIf="book?.userName">Emprunteur : {{book?.userName}}</p>
      <p *ngFor="let line of book.description">{{ line }}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            full
            color="danger"
            [disabled]="!book.isLend"
            (click)="onToggleBook()">Prêter
          </button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            full
            color="secondary"
            [disabled]="book.isLend"
            (click)="onToggleBook()">Rendre
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <form [formGroup]="empruntBookForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Emprunteur</ion-label>
        <ion-input name="userName" id="userName" [(ngModel)]="userName" type="text"
                   formControlName="userName"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            [disabled]="!book.isLend || empruntBookForm.invalid"
            full (click)="onSubmitFormBook()"
            color="secondary">
            Enregistrer
          </button>
        </ion-col>
        <ion-col>
          <button type="button"
                  ion-button
                  full
                  color="danger" [disabled]="book.isLend"
                  (click)="onDeleteBookEmprunt()">
            Supprimer
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
