<ion-header>
  <ion-navbar>
    <ion-title>CD</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let cd of cdsList; let i = index"
            (click)="onLoadCd(i)">
      <h3 [ngStyle]="{'color':cd.isLend ? '#f53d3d' : '#32db64'}">
        <ion-icon icon-start style="margin-top:6px" name="disc" [color]="cd.isLend ? 'danger' : 'secondary' ">
        </ion-icon>
        {{ cd.titre }}
      </h3>
      <ion-note item-right *ngIf="cd?.isLend">prêter</ion-note>
      <p *ngIf="cd?.userName">Emprunteur : {{cd?.userName}}</p>
    </button>
  </ion-list>
</ion-content>
